.container {
}

.input {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  caret-color: var(--text-color);
  color: var(--text-color);
  border-radius: 0;
  outline: 0;
}
