$headers: "h1" 96px -1.5px, "h2" 60px -0.5px, "h3" 48px 0, "h4" 34px 0.25px,
  "h5" 24px 0, "h6" 20px 0.15px;

@each $header, $size, $spacings in $headers {
  #{$header} {
    font-family: var(--primary-font);
    font-weight: 500;
    font-style: normal;
    font-size: $size;
    letter-spacing: $spacings;
    margin: 0;
    padding: 0;
    color: var(--primary-color);
  }
}

p {
  font-family: var(--secondary-font);
  font-size: 16px;
  letter-spacing: 0.5px;
  color: var(--text-color);
}
