.card {
  display: block;
  width: 100%;
  box-shadow: inset 0px 0px 4px red;
}

.title {
  text-transform: lowercase;

  &:before {
    content: ".";
    display: inline-block;
    margin: 0 5px;
    color: var(--secondary-color);
  }
}

.content {
  display: block;
}
