.content {
  margin-bottom: 40px;
}

.position {
  color: var(--color1);
  font-size: 20px;
  margin: 8px 0;
}
.company {
  margin: 0;
  color: var(--color6);
}
.period {
  font-style: italic;
}
.description {
}
.skills {
}
