:root {
  --color1: #f98c64;
  --color2: #7ff9ef;
  --color3: #87cace;
  --color4: #2b293c;
  --color5: #757183;
  --color6: #fefdff;
  --color7: #d2d0de;

  --primary-color: var(--color1);
  --secondary-color: var(--color2);
  --highlight-color: var(--color3);
  --background-color: var(--color4);
  --text-color: var(--color7);
  --gray-color: var(--color6);
  --deep-gray-color: var(--color6);

  /* Fonts */
  --primary-font: "Handjet", sans-serif;
  --secondary-font: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  font-family: var(--secondary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

figure {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}
